<div>
  <H1>Create Tarif</H1>
  <table class="table">
    <th>Name</th>
    <th>rate</th>
    <th>Type</th>
    <thead>
    </thead>
    <tbody>
    <td><input [(ngModel)]="tari.name" id="name" name="name" type="text"></td>
    <td><input [(ngModel)]="tari.rate" id="rate" name="rate" type="number"></td>
    <td><select [(ngModel)]="tari.tarifEnum" id="type" name="type">
      <option value="1">Refileble</option>
      <option value="2">NonRefileble</option>
    </select></td>
    </tbody>
    <button class="btn btn-primary" (click)="createTarif()" align="midle">Send request</button>
  </table>
  <h2>List Tarif</h2>
  <table class="table">
    <th>Name</th>
    <th>Type</th>
    <th>rate</th>
    <thead>
    </thead>
    <tbody *ngFor="let tarif of tarifs">
    <td>{{tarif.name}}</td>
    <td>{{tarif.type}}</td>
    <td>{{tarif.rate}}</td>
    <td><button (click)="removeTarif(tarif.id)">Del</button></td>
    </tbody>
  </table>
</div>

